<div class="wrapper">
  <div
    class="backdrop"
    [ngClass]="isUploading === true ? 'backdrop-show' : 'backdrop-hidden'"
  ></div>
  <div class="upload-modal" *ngIf="isUploading">
    <app-select-images-modal
      appOutside
      (clickedOutside)="closeModal($event)"
      (closeModal)="closeModal($event)"
    ></app-select-images-modal>
  </div>
  <div>
    <app-navigation (uploadImage)="onUploadImage($event)"></app-navigation>
  </div>
  <div class="container">
    <ng-container *ngIf="imageUrls.length === 0">
      <h3 class="text-center">You don't have any images!</h3>
    </ng-container>
    <div class="image-wrapper" *ngFor="let url of imageUrls; let i = index">
      <img class="image" src="{{ url }}" />
      <div class="image-description">
        <div class="row justify-content-between">
          <span>{{ imageMetaData[i].name }}</span>
          <span> &nbsp; &nbsp; - &nbsp; &nbsp; </span>
          <span>{{ imageMetaData[i].size | prefixByte: 2 }}</span>
        </div>
        <div class="row">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed varius
          pellentesque faucibus. Lorem ipsum dolor sit amet, consectetur
          adipiscing elit. Suspendisse dapibus quis libero id faucibus.
          Pellentesque rutrum molestie neque nec auctor. Morbi in dictum libero.
          Donec in auctor nulla. Vestibulum massa magna, sodales ac condimentum
          id, semper dapibus est. Integer posuere ultrices neque, in efficitur
          tortor sodales efficitur. Proin dictum nunc id ipsum feugiat, at
          tristique ligula vestibulum. Ut lacinia enim lorem, porta feugiat mi
          vehicula sit amet.
        </div>
      </div>
    </div>
  </div>
</div>
